@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes easeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shakeSideWays {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
  font-weight: 400;
  font-size: 1.6rem;
  /* line-height: 1.7; */
  color: #333333;
  padding: 3rem;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero .hero__heading {
  backface-visibility: hidden;
}
.hero .hero__heading .hero__heading--title {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Great Vibes", cursive;
  display: block;
  animation: moveInTop 1s ease-out;
  text-shadow: 0 0 2px #333333;
}
.hero .hero__heading .hero__heading--tag {
  font-size: 1.25rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #eeeeee;
  text-shadow: 0 0 2px #333333;
  animation: easeIn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
}
.btn--secondary {
  background-color: #8b0000;
  color: #eeeeee;
}
.btn--secondary::after {
  background-color: #8b0000;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.header {
  height: 95vh;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(to right bottom, rgba(247, 225, 129, 0.8), rgba(204, 178, 60, 0.8)), url("../../assets/pickle-cover-image.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}
.header .header__logo .header__logo--img {
  width: 2rem;
  display: block;
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.header .header__logo .header__logo--img:hover {
  cursor: pointer;
  animation-name: shakeSideWays;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
}

.btn--hero {
  margin-top: 3em;
}