// COLORS
$color-primary-light: #fde479;
$color-primary: #eed461;
$color-primary-dark: #c6ac35;

$color-secondary-light: #f95a5a;
$color-secondary: #ab1717;
$color-secondary-dark: #7a0404;

$color-grey-light: #f3f3f3;
$color-grey: #eeeeee;
$color-grey-dark: #cccccc;
$color-black: #333333;
$color-white: #ffffff;

// FONTS
$default-font-size: 1.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
